*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    text-transform: capitalize;
}
.container{
    padding-left: 10px;
}
.logo{
    border-radius: 50%;
    background-color: black;
    color: #fff;
    padding:10px;
    border-collapse: collapse;
}
header b{
    font-size: 20px;
}
header #togglers{
    display: none;
 }
header #toggler-bars{
    font-size: 35px;
    color:#333;
    display:none;
    padding: 8px;
    background-color: white;
    margin-left: 10px;
    border-radius: .6rem;
    border:.2rem solid rgba(0,0,0,.1);
    cursor: pointer;
 }
 .navbar a{
    font-size: 20px;
    padding: 0 1.5rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;

}
a:hover{
   background-color: rgb(46, 234, 237);
   border-radius:30px ;
}
.btn{
    border-radius: 30px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border-collapse: collapse;
    background-color: rgb(36, 168, 124);
    text-decoration: none;
}
.fa-bars{
    font-size:1.5rem ;
    color:#333;
    border-radius: .5rem;
    padding: 6px 6px;
    cursor:pointer;
    border: 4px solid rgba(0,0,0,0.3);
}
header{
    position: fixed;
    top:0;left:0;right:0;
    padding: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    background: linear-gradient(rgb(6, 96, 62),rgb(11, 75, 67),rgb(44, 38, 38));
    box-shadow: 5px 2px 10px grey;
}
/* header ends */
/* home starts */
 
.home{
    background: linear-gradient(rgb(6, 96, 62),rgb(11, 75, 67),rgb(44, 38, 38));
    border: 20px solid transparent;
    padding: 15px;
    border-image-repeat: no-repeat;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQenUUFEgVE-CESJpvqFRSWwxAWerJrBYlxcw&s") 20% round;
    border-image-slice: 1;
}
.homeinfo{
   display: flex;
} 
.home-info{
    line-height: 2.5rem;
}
.home .home-info .homeinfo{
    min-height: 93vh;
    align-items: center;
    padding: 70px 9%;
    padding-bottom: 5px;
 }
.home-content b{
    font-size: 30px;
    font-weight: bold;
 }
 .home-content p{
    font-size: 28px;
    font-weight: bold;
    padding-right: 280px;
 }
 .image img{
    border-radius: 50%;
    height: 350px;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 5px white ;
 }
 .image:hover{
   transform: scale(1.05);
   cursor: pointer;
}
 /* home ends */
 /* about starts */
 .About{
    background: linear-gradient(rgb(6, 96, 62),rgb(11, 75, 67),rgb(44, 38, 38));
    background-repeat: no-repeat;
    border: 20px solid transparent;
    padding: 15px;
    border-image-repeat: no-repeat;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQenUUFEgVE-CESJpvqFRSWwxAWerJrBYlxcw&s") 20% round;
    border-image-slice: 1;
    padding-bottom: 50px;
 }
 .about-info{
    display: flex;
 }
 .image1 img{
    border-radius: 50%;
    height: 350px;
    width: 270px;
    box-shadow : 0px 0px 5px 5px white;
 }
 .image1{
    padding-top: 200px;
 }
 .image1:hover{
   transform: scale(1.05);
   cursor: pointer;
}
 .about-content{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 70px 9%;
    padding-top: 150px;
    max-width: 1000px;
    line-height: 2rem;
 }
 .about-content p{
    font-size: 20px;
    color: #fff;
 }
 .more{
    background: linear-gradient(rgb(6, 96, 62),rgb(11, 75, 67),rgb(44, 38, 38));
    background-repeat: no-repeat;
    padding-top: 50px;
    border: 20px solid transparent;
    padding: 15px;
    border-image-repeat: no-repeat;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQenUUFEgVE-CESJpvqFRSWwxAWerJrBYlxcw&s") 20% round;
    border-image-slice: 1;
    display: flex;
 }
 .history{
    border: 5px solid black;
    padding: 20px;
    margin: 30px;
    width: 500px;
    border-radius: 0px 96px 120px 0px;
    line-height: 1.5rem;
    background-color: rgb(52, 176, 135);
    box-shadow: 8px 8px 10px 8px rgb(44, 145, 111);
 }
 .education{
    border-right: 7px solid white;
    width: 750px;

 }
 .internship{
    width: 350px ;
    margin: 50px;
    text-align: center;
 }
 .internship span{
    font-size: 20px;
    border:4px solid black;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(52, 176, 135);
 }
 .internship ul{
    padding-top:25px;
    text-align: left;
    font-size: 15px;
    padding-left:20px;
    line-height: 2rem;
 }
 .tools span{
   font-size: 20px;
   border:4px solid black;
   border-radius: 30px;
   padding: 10px;
   background-color: rgb(52, 176, 135);
}
.tools{
   text-align: center;
   width: 350px ;
   margin: 50px;
}
.Tools{
   display: flex;
   margin:50px;
}
.img3 img{
   margin-left: 20px;
   border-radius: 50%;
   height: 50px;
   
}
.skill h1{
   text-align: center;
   border: 4px solid black;
   width:200px;
   border-radius: 30px;

}
.skill span h1{
   margin-left: 150px;
   background: rgb(52, 176, 135);
}
.skill{
   width: 500px;
   margin-left: 100px;
   list-style: none;
}
.skill li{
   margin: 20px 0;
   padding: 10px;
}
.bar{
   background:#353b48;
   display: block;
   height: 20px;
   border: 1px solid rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.bar:hover{
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
   height: 20px;
   float:left;
   background: linear-gradient(135deg, rgb(34, 100, 83)0%,rgb(66, 228, 201)100%);
}
.Theoretical{
   width: 90%;
   animation: Theoretical 3s;
}
.Laboratory{
   width: 90%;
   animation: Laboratory 3s;
}
.Design{
   width: 90%;
   animation: Design 3s;
}
@keyframes Theoretical{
   0%{
      width: 0%;
   }
   100%{
      width: 90%;
   }
}
@keyframes Laboratory{
   0%{
      width: 0%;
   }
   100%{
      width: 90%;
   }
}
@keyframes Design{
   0%{
      width: 0%;
   }
   100%{
      width: 90%;
   }
}
.skills{
   display: flex;
   line-height: 2rem;
}
.skills li{
   margin-left: 70px;
   line-height: 3rem;
   font-size: 18px;
}
.total{
   border: 10px solid #fff;
   border-radius: 60px;
   margin-left: 60px;
   background:rgb(52, 176, 135) ;
}
.li{
   padding-left: 180px;
   line-height: 3rem;font-size: 18px;
}
.certifications{
   width: 400px ;
   margin-left: 170px;
   margin-top:50px ;
   text-align: center;
}
.certifications span{
   font-size: 20px;
   border:4px solid black;
   border-radius: 30px;
   padding: 10px;
   background-color: rgb(52, 176, 135);
}
.certifications ul{
   padding-top:25px;
   text-align: left;
   font-size: 15px;
   padding-left:20px;
   line-height: 2rem;
}
/* about ends */
/* services starts */

.pics img{
   border-radius: 50%;
   height: 200px;
   margin-top: 50px;
}
.pics{
   margin-left: 110px;
}
.pics h3{
   color: #fff;
   padding-top: 30px;
   text-align: center;
}
.services{
   display: flex;
}
.Service span{
   border-collapse: collapse;
   background:rgb(52, 176, 135) ;
   padding: 10px;
   font-size: 20px;
   border-radius: 20px;
}
.Service{
   padding-left: 20px;
   padding-top: 150px;
   background: linear-gradient(rgb(6, 96, 62),rgb(11, 75, 67),rgb(44, 38, 38));
    background-repeat: no-repeat;
    border: 20px solid transparent;
    border-image-repeat: no-repeat;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQenUUFEgVE-CESJpvqFRSWwxAWerJrBYlxcw&s") 20% round;
    border-image-slice: 1;
}
.btns {
   border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-collapse: collapse;
    background-color: rgb(36, 168, 124);
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
}
.btns:hover{
   background-color: rgb(110, 110, 200);
}
.button{
   text-align: center;
   padding-top: 40px;
   padding-bottom: 20px;
}
/* services ends */
.design{
   display: flex;
}
.pics1 img{
   height: 500px;
   width: 600px;
   padding-left: 260px;
}
.works span{
   border-collapse: collapse;
   background:rgb(52, 176, 135) ;
   padding: 10px;
   font-size: 20px;
   border-radius: 20px;
}
.works{
   padding-top: 100px;
   padding-left: 20px;
   background: linear-gradient(rgb(6, 96, 62),rgb(11, 75, 67),rgb(44, 38, 38));
    background-repeat: no-repeat;
    border: 20px solid transparent;
    border-image-repeat: no-repeat;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQenUUFEgVE-CESJpvqFRSWwxAWerJrBYlxcw&s") 20% round;
    border-image-slice: 1;
    padding-bottom: 55px;
}
.works h2{
   padding-top: 20px;
}
.cards{
   background: linear-gradient(rgb(6, 96, 62),rgb(11, 75, 67),rgb(44, 38, 38));
   border: 20px solid transparent;
   padding: 15px;
   border-image-repeat: no-repeat;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQenUUFEgVE-CESJpvqFRSWwxAWerJrBYlxcw&s") 20% round;
   border-image-slice: 1;
}
.cards img{
   padding: 30px;
   height: 400px;
}
.Posters{
   background: linear-gradient(rgb(6, 96, 62),rgb(11, 75, 67),rgb(44, 38, 38));
   border: 20px solid transparent;
   padding: 15px;
   border-image-repeat: no-repeat;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQenUUFEgVE-CESJpvqFRSWwxAWerJrBYlxcw&s") 20% round;
   border-image-slice: 1;
}
.post{
   display: flex;
}
.poster img{
   height: 600px;
   width: 440px;
   padding: 50px;
}
/* works ends */
/* contact starts */
.contact{
   padding-top: 50px;
   background: linear-gradient(rgb(6, 96, 62),rgb(11, 75, 67),rgb(44, 38, 38));
   border: 20px solid transparent;
   padding: 15px;
   border-image-repeat: no-repeat;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQenUUFEgVE-CESJpvqFRSWwxAWerJrBYlxcw&s") 20% round;
   border-image-slice: 1;
}
.contact span{
   background-color: rgb(36, 168, 124);
   padding: 10px;
   font-size: 25px;
   border-radius: 30px;
}
.name,.email,.query{
   padding: 30px;
}
.box{
   padding: 4px;
}
.querybox{
   padding: 35px;
   margin-left: 100px;
   border-radius: 30px;
}
.pics:hover{
   transform: scale(1.05);
   cursor: pointer;
}